<header>
  <div class="header-logo">
    <a href="/">Motasezzo</a>
  </div>

  <ul class="header-menus">
    <li>
      <a href="/about">当チームについて</a>
    </li>
    <a href="/menu" class="menu-list">活動内容</a>
    <a href="/member" class="menu-list">メンバー</a>
  </ul>
</header>

<body>

    <div class="about-main">
        <div class="about-message">
            <p>当チームは、<a>「趣味の一つに野球」</a>という理念のもとで活動しています。</p>
            <p>家族や恋人との時間、温泉や旅行、旧友との付き合い等、様々な時間に休日を使えるように緩い活動を目指しています。</p>
            <p>上記のイベントを楽しんでもらうため、また、野球を長く続けてもらいたいため、ケガ防止を目的とした練習はしっかりと行います。</p>
        </div>
        <div class="about-explanation">
            <p>-当チーム概要-</p>
            <ul>
                <li>・年齢層20～30歳代が所属</li>
                <li>・グラウンド最寄り駅から送迎対応可能</li>
                <li>・グラウンドは三郷市と吉川市がメイン</li>
                <li>・雨が降ったり、グラウンド不良の時は無理せずに活動中止(ケガ怖い...)</li>
                <li>・月3～4回活動、毎週日曜日AM中(8:00～12:00の間)の2時間程度の活動</li>
                <li>・どうぞ希望ポジションやってください!の精神(ケガだけは注意...)</li>
                <li>・学生時代の古傷を抱えている人多数(助け合いが大事ですよね（笑）)</li>
                <li>・野球未経験者も在籍しています。エラーもドンマイ(草野球なんでね...)</li>
            </ul>
        </div>
        <div class="about-cost">
            <p>-費用-</p>
            <ul>
                <li>・部費<a>10,000円/年</a>　別途入団登録費などは無いです。</li>
                <li>・ユニフォーム・帽子代合わせて<a>11,000円</a></li>
                <li>・スポーツ保険代<a>2,000円</a></li>
                <li>入団時の初期費用は上記3点を合算した<a>23,000円となります!</a></li>
            </ul>
        </div>

    

    </div>

</body>