<header>
  <div class="header-logo">
    <a href="/">Motasezzo</a>
  </div>

  <ul class="header-menus">
    <li>
      <a href="/about">当チームについて</a>
    </li>
    <a href="/menu" class="menu-list">活動内容</a>
    <a href="/member" class="menu-list">メンバー</a>
  </ul>
</header>

<body>

  <div class="battle-main">
    <div class="practice-factor">
      <h1>打撃練習</h1>
      <a href="/hitting"><img class="hitting-img" src="/menu_factor2.jpg"></a>
    </div>

  
      <div class="battle-factor">
        <h1>勝負</h1>
        <video controls class="battle_hitting" src="battle1.mp4"></video>
        <p>2打席の勝負!1球で終わってしまうことも....</p>
        <div class="battle_explanation">
          <ul>投手志望の選手がマウンドに立ち、打者相手に投球します。</ul>
          <ul>フォアボールも存在するので、緊張感のある対決を行うことで試合勘を養います。</ul>
        </div>
      </div>    
  

      <div class="practice-factor">
      <h1>守備練習</h1>
        <a href="/defense"><img class="defense-img" src="/menu_factor3.jpg"></a>
      </div>
  </div>

</body>