<header>
  <div class="header-logo">
    <a href="/">Motasezzo</a>
  </div>

  <ul class="header-menus">
    <li>
      <a href="/about">当チームについて</a>
    </li>
    <a href="/menu" class="menu-list">活動内容</a>
    <a href="/member" class="menu-list">メンバー</a>
  </ul>
</header>

<body>

  <div class="battle-main">
    <div class="practice-factor">
        <h1>打撃練習</h1>
        <a href="/hitting"><img class="hitting-img" src="/menu_factor2.jpg"></a>
    </div>

  
      <div class="battle-factor">
        <h1>守備練習</h1>
        <video controls class="battle_hitting" src="defense1.mp4"></video>
        <p>ピッチャーを助けるためにOUTを取る、という感じでやっています!</p>
        <div class="battle_explanation">
          <ul>草野球でケガのリスクが高いのが意外と守備時なので、<br>ランナーやケースによって細かくやっています。</ul>
          <ul>タッチプレーやランナーと守備エリアが重なるので、<br>自分と相手のためにもしっかりとやっておきたいですね!</ul>
        </div>
      </div>    
  

      <div class="practice-factor">
        <h1>勝負</h1>
        <a href="/battle"><img class="defense-img" src="/menu_factor1.jpg"></a>
      </div>
  </div>

</body>