<header>
  <div class="header-logo">
    <a href="/">Motasezzo</a>
  </div>

  <ul class="header-menus">
    <li>
      <a href="/about">当チームについて</a>
    </li>
    <a href="/menu" class="menu-list">活動内容</a>
    <a href="/member" class="menu-list">メンバー</a>
  </ul>
</header>

<body>

  <div class="battle-main">
    <div class="practice-factor">
        <h1>勝負</h1>
        <a href="/battle"><img class="hitting-img" src="/menu_factor1.jpg"></a>
    </div>

  
      <div class="battle-factor">
        <h1>打撃練習</h1>
        <video controls class="battle_hitting" src="hitting1.mp4"></video>
        <p>横からのトス等を打つよりも前からのボールに対する</p>
        <p>バッティングを重視しています！</p>
        <div class="battle_explanation">
          <ul>上体が突っ込んでいないか、手打ちになっていないか、</ul>
          <ul>前からのボールに対しては粗がよく出てしまいます。</ul>
          <ul>ストライクゾーン、ボールゾーンの見極めも実践では大きな力になります！</ul>
        </div>
      </div>    
  

      <div class="practice-factor">
        <h1>守備練習</h1>
        <a href="/defense"><img class="defense-img" src="/menu_factor3.jpg"></a>
      </div>
  </div>

</body>