<header>
  <div class="header-logo">
    <a href="/">Motasezzo</a>
  </div>

  <ul class="header-menus">
    <li>
      <a href="/about">当チームについて</a>
    </li>
    <a href="/menu" class="menu-list">活動内容</a>
    <a href="/member" class="menu-list">メンバー</a>
  </ul>
</header>

<body>

    <div class="menu-main">

        <div class="menu-factor">
        <h1>打席勝負</h1>
        <a href="/battle"><img class="menu-img" src="/menu_factor1.jpg"></a>
        <p> 投手を立てた実践形式です！</p>
        </div>

        <div class="menu-factor">
        <h1>守備練習</h1>
        <a href="/defense"><img class="menu-img" src="/menu_factor3.jpg"><a/>
        <p>試合中にケガをしないために練習も行います。</p>
        </div>

        <div class="menu-factor">
        <h1>打撃練習</h1>
        <a href="/hitting"><img class="menu-img" src="/menu_factor2.jpg"></a>
        <p>前から来るボールを強く打てるように練習しています。</p>
        </div>

    </div>

</body>