<header>
  <div class="header-logo">
    <a href="/">Motasezzo</a>
  </div>

  <ul class="header-menus">
    <li>
      <a href="/about">当チームについて</a>
    </li>
    <a href="/menu" class="menu-list">活動内容</a>
    <a href="/member" class="menu-list">メンバー</a>
  </ul>
</header>

<body>

<div class="main top-main">
  <div class="top-message">
    <h1>チームHPへようこそ!</h1>
    <p>2023年2月1日結成!</p>
  </div>
</div>

</body>